/* src/pages/TimerPage/index.css */

.app {
    text-align: center;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.progress {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
}

.progress-container {
    width: 100%;
    border: 2px solid #646cff;
    border-radius: 10px;
    padding: 2px;
}

.progress-bar {
    height: 20px;
    background-color: #646cff;
    border-radius: 8px;
    width: 0;
    max-width: 100%; /* Ensure the progress bar doesn't exceed the container width */
}

.set-goal,
.set-duration {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.set-goal input,
.set-duration input {
    padding: 10px;
    margin: 10px 10px 10px 0;
    font-size: 1em;
    width: 150px;
}

.set-goal button,
.set-duration button {
    padding: 10px;
    font-size: 1em;
}

.history-link {
    margin-top: 20px;
    font-size: 1em;
    color: #646cff;
    text-decoration: none;
}

.history-link:hover {
    text-decoration: underline;
}
